.smframe {
    height: 64px;
    width: 64px;
}
.smframe:hover {
    cursor: pointer;
}

.smframe > img {
    height: 64px;
    width: 64px;
}



@media screen and (max-width: 876px){
    .smframe {
        height: 50px;
        width: 50px;
    }
    .smframe > img {
        height: 50px;
        width: 50px;
    }
}

/*iphone 6/7/8 Plus*/
@media screen and (max-width: 415px) {
    .smframe {
        height: 50px;
        width: 50px;
    }
    .smframe > img {
        height: 50px;
        width: 50px;
    }
} 

/*iphone 6/7/8*/
@media screen and (max-width: 376px) {
    .smframe {
        height: 50px;
        width: 50px;
    }
    .smframe > img {
        height: 50px;
        width: 50px;
    }
} 

/*iphone 5*/
@media screen and (max-width: 321px) {
    .smframe {
        height: 40px;
        width: 40px;
    }
    .smframe > img {
        height: 40px;
        width: 40px;
    }
}
