.export {
    height: 100vh;
    width: 60%;
    display: block;
    margin: 0 auto;
}

.exportwrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exportcontainer {
    height: 60vh;
    width: 100%;
    background-image: url('../images/cardbg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.cardLast {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-height: 90%;
    background-image: url('../images/cardbg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.cardFlex {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.info {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.mainInfo {
    width: 50%;
    height: auto;
}

.answers {
    width: 50%;
    height: auto;
}

.a {
    font-weight: 700;
}

/*screen sizes*/

/*large monitor*/
@media screen and (max-width: 5000px){
    .export {
        width: 40%;
    }
    .exportcontainer {
        height: 50vh;
    }
} 
/*standard laptop*/
@media screen and (max-width: 2000px) {
    .export {
        width: 70%;
    }
    .exportcontainer {
        height: 77vh;
    }
} 
/*standard monitor*/
@media screen and (max-width: 1921px) {
    .export {
        width: 50%;
    }
    .exportcontainer {
        height: 60vh;
    }
}
/*iPad Pro*/
@media screen and (max-width: 1025px) {
    .export {
      width: 85%;
    }
    .exportcontainer {
        height: 45vh;
    }
    .cardLast {
        height: 92%;
    }
  } 
/*iPad*/
@media screen and (max-width: 769px) {
    .export {
        width: 95%;
    }
    .exportcontainer {
        height: 60vh;
    }
    .lgframe {
        height: 150px;
        width: 150px;
    }
}
/*iphone 6/7/8 Plus*/
@media screen and (max-width: 486px) {
    .export {
        width: 100%;
    }
    .exportcontainer {
        height: 100vh;
        border-radius: 0;
        display: flex;
        flex-direction: column;
    }
    .cardLast {
        height: 93%;
    }
    .lgframe {
        height: 150px;
        width: 150px;
    }
} 
/*iphone 6/7/8*/
@media screen and (max-width: 376px) {
    .export {
        width: 100%;
    }
    .exportcontainer {
        height: 100vh;
        border-radius: 0;
    }
    .cardLast {
        height: 98%;
    }
    .saveButton {
        width: 100%;
    }
} 
/*iphone X*/
@media screen and (max-width: 376px) {
    .export {
        width: 100%;
    }
    .exportcontainer {
        height: 100vh;
        border-radius: 0;
    }
} 
/*iphone 5*/
@media screen and (max-width: 321px) {
    .export {
        width: 100%;
        font-size: 0.8rem;
    }
    .exportcontainer {
        height: 100vh;
        border-radius: 0;
        display: flex;
        flex-direction: column;
    }
    .cardLast {
        height: 93%;
    }
    .answers, .mainInfo {
        position: relative;
        top: 50px;
    }
}