.facepage {
    height: 100vh;
    width: 60%;
    display: block;
    margin: 0 auto;
}

.facewrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facecontainer {
    height: 60vh;
    width: 100%;
    background-image: url('../images/cardbg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

/* left panel */

.card {
    height: 95%;
    width: 100%;
}
.dpanel {
    float: left;
    width: calc(100% /3);
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}

/* right panel */
.chooseface {
    float: right;
    width: calc(100% * 2/3);
    height: 100%;
}

.flexdrops {
    text-align: center;
    width: 100%;
    display: block;
    height: 30%;
}

.dropline {
    display: flex;
    justify-content: center;
}

.dropline > form {
    margin: 10px;
}

.flexframes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 70%;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid black;
    padding: 15px;
}

.buttonPanel {
    height: 5%;
}

.filterButton {
    margin-bottom: 5px;
}