.facepage {
    height: 100vh;
    width: 60%;
    display: block;
    margin: 0 auto;
}

.facewrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facecontainer {
    height: 60vh;
    width: 100%;
    background-color: white;
}

/* left panel */

.card {
    height: 90%;
    width: 100%;
}
.dpanel {
    float: left;
    width: calc(100% /3);
    height: 100%;
    background-color: white;
    border-right: 1px solid black;
}

/* right panel */
.chooseface {
    float: right;
    width: calc(100% * 2/3);
    height: 100%;
    
}

.flexdrops {
    display: flex;
    height: 20%;
    width: 100%;
    background-color: white;
}

.flexframes {
    display: flex;
    justify-content: space-around;
    height: 80%;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid black;
    padding: 15px;
}