
.app {
  text-align: center;
  min-height: 100%;
  font-family: 'Courgette', cursive;
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-image: url('../images/cardbg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: inherit;
  position: fixed;
}

.navdark {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../images/cardbg.jpg');
}

.navdiv {
  min-height: 40px;
  width: 25%;
  border: 1px solid black;
  text-align: center;
  padding: 0;
}

.navbutton {
  display: block;
  padding: 0.5em;
  text-decoration: none;
}

.navwrapper {
  width: 60%;
  display: block;
  margin: 0 auto;
}

#bgchange {
  position: fixed;
  top: 40px;
  left: 40px;
  height: 250px;
  width: 125px;
  background-image: url('../images/cardbg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.bgchoice > a:visited {
  text-decoration: none;
  color: black;
}

#bgchange > p {
  font-weight: 700;
  font-size: 18px;
}

.bgchoice {
  width: 100%;
  margin: 2px;
}

#bgchange > div > button {
  width: 100px;
}

#restartButton {
  position: fixed;
  top: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  background-image: url('../images/cardbg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}






.lgframe {
  height: 250px;
  width: 250px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.lgframe > img {
  height: inherit;
  width: inherit;
  border-radius: 10px;
}

img {
  border:1px solid black;
}

.next {
  float: right;
}

.prev {
  float: left;
}

button {
  color: #494949 !important;
  text-transform: uppercase;
  padding: 5px;
  border: 1px solid #494949 !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  outline: none;
}

button:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

h1 {
  margin-bottom: 0;
}
/*screen sizes*/

/*iphone 5*/
@media screen and (min-width: 319px) and (max-width: 321px) {
  #bgchange {
    display: none;
  }
  .navwrapper {
    display: none;
  }
}

/*iphone 6/7/8*/
@media screen and (min-width: 374px) and (max-width: 376px) {
  #bgchange {
    display: none;
  }
  .navwrapper {
    display: none;
  }
} 

/*iphone 6/7/8 Plus*/
@media screen and (min-width: 413px) and (max-width: 415px) {
  #bgchange {
    display: none;
  }
  .navwrapper {
    display: none;
  }
} 

/*iphone X*/
@media screen and (min-width: 374px) and (max-width: 376px) {
  #bgchange {
    display: none;
  }
  .navwrapper {
    display: none;
  }
} 

/*iPad*/
@media screen and (min-width: 767px) and (max-width: 769px) {
  #bgchange {
    top: 10px;
    left: 10px;
    height: 175px;
  }
  #bgchange > p {
    display: none;
  }
} 

/*iPad Pro*/
@media screen and (min-width: 1023px) and (max-width: 1025px) {
  #bgchange {
    top: 10px;
    left: 30px;
    height: 250px;
  }
} 

/*standard laptop*/
@media screen and (min-width: 1279px) and (max-width: 1281px) {

} 

/*large monitor*/
@media screen and (min-width: 2400px){
  .navwrapper {
    width: 40%;
  }
} 



@media screen and (max-width: 415px){
  #restartImg {
    border: none;
  }
  #restartButton {
    top: 15px;
    right: 15px;
    height: 25px;
    width: 25px;
    background-image: none;
  }
}